body {
  font-family: sans-serif;
  overflow-x: hidden;
}

#userlogin-form {
  text-align: center;

  border: 1px solid black;

  background-color: white;

  color: black;
}

#dashboard-menu {
  background-color: #055C9D;

  color: white;

  font-size: 25px;

  height: 100vh;
}

#users-list {
  width: 100%;
}

#users-list td, #users-list tr {
  text-align: center;
}

.users-list-row, .users-list-row-header {
  font-size: 22px;

  color: black;
}

.users-list-row-header {
  background-color: #055C9D;

  color: white;
}

.users-list-link {
  color: black;
  text-decoration: underline;
}

.users-list-link:hover {
  color: black;
  text-decoration: underline;
}

.dashboard-menu-sublink {
  font-size: 20px;

  font-style: italic;
}

.dashboard-menu-link, .dashboard-menu-sublink, .dashboard-menu-text {
  color: white;

  text-decoration: none;

  margin-left: 25px;
}

.dashboard-menu-link:hover, .dashboard-menu-sublink:hover {
  color: white;

  text-decoration: underline;
}
